{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About ResearchCompendia{% endblock %}

{% block content %}

<div class="row">

<div class="span2 sidebar-width">
<div class="bs-sidebar hidden-print affix" role="complementary">
<ul class="nav bs-sidenav">
  <li><a href="#Mission">Mission</a></li>
  <li><a href="#AboutUs">About Us</a></li>
</ul>
</div>
</div>

<div class="span8 span-fixed-sidebar">

<h1 id="Mission">Our Mission and Goals</h1>

<blockquote>
 <p><i class="icon-quote-left">An article about computational science in a scientific publication is not
    the scholarship itself, it is merely advertising of the scholarship. The
    actual scholarship is the complete software development environment and the
    complete set of instructions which generated the figures.</i><i class="icon-quote-right"></i></p>

    <cite>D. Donoho</cite>
</blockquote>

<p>The <b>ResearchCompendia</b> platform is an attempt to use the web to
enhance the reproducibility and verifiability—and thus the reliability—of
scientific research. we provide the tools to publish the "actual scholarship"
by hosting data, code, and methods in a form that is accessible, trackable, and
persistent. Some of our short term goals include:</p>

<ul>
  <li>To expand and enhance the platform including adding executability for a
  greater variety of coding languages and frameworks, and enhancing output
  presentation.</li>
  <li>To expand usership and to test the ResearchCompendia model in a number of
  additional fields, including computational mathematics, statistics, and
  biostatistics.</li>
  <li>To pilot integration with existing scholarly platforms, enabling
  researchers to discover relevant Research Compendia websites when looking at
  online articles, code repositories, or data archives. </li>
</ul>

<p>It has been a long held principle of academic science that all respectable
research must be <b>reproducible.</b>  As such, authors of published research
have historically been expected to <b>archive</b> and <b>share</b> the data
used to obtain to their conclusions.  Now that much of that data and analysis
is generated computationally, it is natural to expect that code and parameters
also be shared.  Additionally, it is right to expect that researchers ought to
<b>document</b> the computational portions of their research methods as
thoroughly as they would document a tabletop experiment.</p>

<blockquote>
<p><i class="icon-quote-left">We introduce the concept of a compendium as both
a container for the different elements that make up the document and its
computations (i.e. text, code, data,...), and as a means for distributing,
managing and updating the collection.”</i><i class="icon-quote-right"></i></p>

<cite>Gentleman, R. and Temple Lang, D. <a href="http://biostats.bepress.com/bioconductor/paper2">
"Statistical Analyses and Reproducible Research"</a> (May 2004). Bioconductor Project Working Papers.
</cite>
</blockquote>

<p>With <b>ResearchCompendia</b> we wish to address these issues facing
reproducibility in computational research. We will provide tools to share and
archive the data, codes, documentation, parameters, and environmental settings
linked with published research all in one place.  Soon, we wish to support the
<b>verification</b> and <b>validation</b> processes by providing for the remote
<b>execution</b> of shared codes in our cloud resources, and the
<b>visualization</b> of results.  Most of all we wish to make these tools
heavily automated, and easy to access and utilize to lessen the exertion
required from already overburdened academic researchers in the process of
publishing fully reproducible work.</p>

<p>Why create a Research Compendium?</p>
<ul>
<li>Boost your citation rates and recognition, and get credit for your code in addition to your publications.</li>
<li>Defend your research.</li>
<li>Archive your research and track your computational procedures.</li>
<li>Speed up the process of converting scientific results into productive forces.</li>
<li>Allow others to build on your work in a highly visible and trackable way.</li>
</ul>

<p><b>ResearchCompendia</b> follows these main objectives:</p>

<ul>
<li>To provide the tools for researcher to easily communicate all the
information necessary to make all publications fully reproducible.</li>
<li>To allow researchers to quickly disseminate the methods of their research.
This will considerably increase the potential of citations of scientific
papers.</li>
<li>To provide the scientific community with the ability to use the latest
scientific computational methods.</li>
<li>To allow members of the academic community to quickly and easily  verify
and validate scientific results and to demonstrate their robustness.</li>
</ul>

<p>To do this we hope to provide the following tools:</p>

<ul>
<li>Quick and elegant Compendia Page creation with easy to navigate access to
all relevant data, code, documentation, and results, with no coding required by
the researcher. [current]</li>
<li>Free data and code hosting. [current]</li>
<li>Executable functionality with easy parameter entry that enables users and
contributors alike to run compendia codes in our cloud and obtain requested
results in an downloadable file with optional results visualizations for some
languages (R, MatLab, Python, Cactus, etc.). [planned]</li>
</ul>

<h1 id="AboutUs">About Us</h1>

The ResearchCompendia website is operated not for profit.  We are currently
operating under a grant from the Alfred P. Sloan foundation. Funds from this
grant support this project through Columbia University. With:</p>

<ul class="media-list">

<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{% static 'img/vcsTACCbigc.jpg' %}" width="140">
  </a>
  <div class="media-body">
  <a href="http://www.stodden.net">Victoria Stodden</a> as <b>Chief Science Officer</b> of ResearchCompendia:
  <ul>
    <li> Assistant Professor of Statistics at Columbia University.</li>
    <li> Completed her PhD in statistics and her law degree at Stanford University.</li>
    <li> Research centers on the multifaceted problem of enabling reproducibility in computational science.</li>
    <li> Developer of the award winning "Reproducible Research Standard," a
    suite of open licensing recommendations for the dissemination of
    computational results.</li>
    <li> Serves on the National Academies of Science committee on
    "Responsible Science: Ensuring the Integrity of the Research Process"
    and the American Statistical Association's "Committee on Privacy and
    Confidentiality" (2013). </li>
    <li>Serves as a member of the National Science Foundation's Advisory
    Committee on Cyberinfrastructure (ACCI), the Mathematics and Physical
    Sciences Directorate Subcommittee on "Support for the Statistical
    Sciences at NSF."</li>
  </ul>
  </div>
</li>

<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{% static 'img/jennprofile.jpg' %}" width="140">
  </a>
  <div class="media-body">
  <a href="http://jennseiler.com">Jennifer Seiler</a> as <b>Chief Outreach Coordinator and Science Advisor</b>: 
  <ul>
    <li> Jennifer Seiler is a Postdoctoral Researcher in Statistics at Columbia University.</li>
    <li> Completed her PhD in Gravitational Astrophysics for research at
    the Max Planck Institute for Gravitational Physics with Leibniz
    Universität Hannover.</li>
    <li> Specialized in Numerical Relativity, writing, running, and
    analyzing massively parallelized simulations of black hole spacetimes
    for the production of gravitational wave template signals for
    astrophysical predictions and for use in GW detector pipelines.</li>
    <li> Worked in the Numerical Relativity group at NASA Goddard Space
    Flight Center on the LISA (Laser Interferometer Space Antenna)
    mission.</li>
    <li> An open science devotee, most of Jennifer's past research has been
    done using and developing for the open source computational physics
    framework called the <a href="http://cactuscode.org">Cactus Computational Toolkit</a>.</li>
    <li>If you wish to collaborate with, contribute to, promote for, or
    otherwise interact with ResearchCompendia  contact <a
    href="mailto:jenn.seiler@gmail.com?Subject=ResearchCompendia">Jennifer</a>.</li>
  </ul>
  </div>
</li>

<li class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{% static 'img/sheilatalk.jpg'%}" width=140>
  </a>
  <div class="media-body">
  <a href="https://github.com/codersquid">Sheila Miguez</a> as <b>Chief Site Developer</b>:
  <ul>
    <li>Staff Associate Programmer at Columbia University.</li>
    <li>She joined ResearchCompendia because making a tool for scientists is more 
    exciting than working on ecommerce platforms. She hopes to apply
    experience working at Orbitz towards building ResearchCompendia tools and
    teaching scientists relevant industry practices. Outside of work, she
    enjoys spending time with people at pumpingstationone.org. She welcomes
    people to come to <a href="https://wiki.pumpingstationone.org/Python_Office_Hours">python
        office hours</a> to ask about ResearchCompendia.</li>
  </ul>
  </div>
</li>  

</ul>


</div>

</div>

{% endblock content %}
