{% extends 'layout.html' %}
{% load webdesign %}

{% block title %}RunMyCode{% endblock title %}

{% block content %}

<div class="container">

  <div class="jumbotron">
    <h1>{% block marketing_title %}RunMyCode {% lorem 2 w random  %}{% endblock marketing_title %}</h1>
    <h2>{% lorem 4 w random %}</h2>
    {% lorem %}
  </div>

  <div class="body-content">

    <div class="row">
      <div class="col-lg-4">
      {% lorem 3 p random %}

      {% lorem 3 p random %}
      </div>

      <div class="col-lg-4">
        {% lorem 3 p random %}
      </div>

    </div>
</div>

</div>


{% endblock content %}
