{% load staticfiles %}
{% load webdesign %}

<html lang="en">
<head>
  <title>{% block title %}{{ site_title }}{% endblock title %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  {% block extra_css %}
  <!-- Use this to quickly test CSS changes in a template, then move to project.css -->
  {% endblock extra_css %}
</head>

<body class="rmc-green-back">

{% include 'header.html' %}

<div class="row rmc-light">

  {% block sidenav %}
  <div class="col-lg-2">
  </div>
  {% endblock sidenav %}

  <div class="col-lg-10">

  {% block content %}
    <div class="container">

      <h1>{% block marketing_title %}About {{ site_title }}{% endblock marketing_title %}</h1>

      <p>RunMyCode is a platform that enables scientists to share the
      code and data that underlie research publications.</p>


      <div class="body-content">
        <div class="row">

          {% if newsbriefs_list %}
          <div class="col-lg-4">
            {% include "news/newsbriefs.html" with recent_news_list=newsbriefs_list %}

            <a href="{% url 'rmc_news_list' %}">more <i class="icon-ellipsis-horizontal"></i></a>
          </div>
          {% endif %}

          <div class="col-lg-4">
            <h2>Article Companions</h2>
            <p>{% lorem 10 w random %}</p>
            <p>{% lorem 10 w random %}</p>
            <p>{% lorem 10 w random %}</p>
            <p>{% lorem 10 w random %}</p>
          </div>
        </div>
      </div> <!-- /body-content -->

    </div> <!-- /container -->
  {% endblock content %}
  </div> <!-- /col-lg-10 -->

</div> <!-- /row -->

{% include 'footer.html' %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/project.js' %}"></script>
{% block extra_js %}
  <!-- Use this to quickly test js changes in a template, then move to project.js -->
{% endblock extra_js %}
</body>
</html>
