{% extends 'layout.html' %}
{% load webdesign %}

{% block title %}Base{% endblock title %}

{% block content %}

<div class="span10">

  <div class="hero-unit">
    <h1>{% block marketing_title %}{% lorem 2 w random  %}{% endblock marketing_title %}</h1>
    <h2>{% lorem 4 w random %}</h2>
    {% lorem %}
  </div> <!--/hero-unit -->

<div class="row-fluid">
  <div class="span6">
    {% lorem 3 p random %}
  </div> <!-- /span6 -->
  <div class="span6">
    {% lorem 6 p random %}
  </div> <!-- /span6 -->
</div> <!-- /row-fluid -->

</div> <!-- span10 -->

{% endblock content %}
