<div id="runmycode-carousel" data-interval=1000 data-pause="hover" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#runmycode-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#runmycode-carousel" data-slide-to="1"></li>
    <li data-target="#runmycode-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item-active">
      <img src="{% static 'img/about_wordcloud.png' %}" alt="run my code word cloud">
      <div class="carousel-caption">
        <h3>caption one</h3>
        <p>more text</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'img/about_wordcloud.png' %}"> 
      <div class="carousel-caption">
        <h3>caption two</h3>
        <p>again</p>
      </div>
    </div>
    <div class="item">
      <img src="{% static 'img/about_wordcloud.png' %}"> 
      <div class="carousel-caption">
        <h3>caption three</h3>
        <p>again more text</p>
      </div>
    </div>
  </div> <!-- /carousel-inner -->

  <div class="left carousel-control" data-slide="prev" href="#runmycode-carousel">
    <span class="icon-prev"></span>
  </div>
  <div class="right carousel-control" data-slide="next" href="#runmycode-carousel">
    <span class="icon-next"></span>
  </div>

</div> <!-- /runmycode-carousel -->



