{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ResearchCompendia Development{% endblock %}

{% block content %}

<a href="https://github.com/researchcompendia/tyler"><img style="position: absolute; top: 50; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<script src="http://gist.github.com/2059.js"></script>

<h1>Development</h1>

<p>ResearchCompendia is a free and open source software project. If you are
interested in contributing to a project that promotes reproducible and open
science, please <a href="/contact/">talk to us</a>!

This is a project to allow scientists to create compendium comprising all
relevant narrative, code, and data to make their research truly reproducible.
Our goal is allow and teach researchers to document the computational portions of
their research methods as thoroughly as they would document a tabletop
experiment. We want our tools to fulfill these goals:</p>

<ul>
<li>We will make it possible to archive all of the data, codes, documentation,
parameters, and environmental settings linked with published research in a
versioned form.
<li>We will support the verification and validation processes by providing for
the execution of shared code and the visualization of results.
<li>We want to help and encourage researchers to manage their research in a way
that makes it remixable and executable.
<li>Most of all we wish to make these tools heavily automated, and easy to
access and utilize to lessen the exertion required from already overburdened
academic researchers in the process of publishing fully reproducible work.
</ul>

<p>Imagine if all the materials in a research project could be continuously
packaged and deployed with no snags preventing use and refinement by anyone. We
could help make research accessible to everyone.</p>

<p>Visit our <a href="https://github.com/researchcompendia/tyler">our github repo</a> to
check out the source code that runs this site. Read our docs on <a
  href="http://tyler.readthedocs.org/en/latest/contributing.html">contributing</a>.
We maintain an list of issues with labels to guide contributions, We welcome
participation from people of all skill levels and backgrounds. You don't need
to be a web developer or programmer. We welcome people who are interested in
testing, documentation, design, and brainstorming.  We are happy to hear what
feature additions people would like to have and build, such as further
supported packages and languages.</p>

<ul>
  <li>Our technical documentation lives at <a href="http://tyler.rtfd.org/">http://tyler.rtfd.org</a>.
  <li>We use the issue tracker on github. <a href="https://github.com/researchcompendia/tyler/issues">https://github.com/researchcompendia/tyler/issues</a>
  <li>Sheila idles in our IRC channel as <em>skay</em>, #hackingscience on <a href="http://webchat.freenode.net/">freenode.net</a>, and is occasionally joined by the travis-ci bot (hopefully with good news about the build).
  <li>Beta site: <a href="http://researchcompendia.org/">http://researchcompendia.org</a></br>
  <li>Test site: <a href="http://preprod-researchcompendia.herokuapp.com/">http://labs.researchcompendia.org</a>
</ul>

{% endblock content %}
