{% extends "base.html" %}
{% load home_tags %}

{% block title %}ResearchCompendia FAQs{% endblock %}

{% block content %}

<div class="panel-group">
{% for faq in faq_list %}
<div class="panel">
  <div class="panel-heading"><h4 class="panel-title"><a href="#{{ forloop.counter }}">{{ faq.question }}</a></h4></div>
  <div id="{{ forloop.counter }}" class="panel-body">{{ faq.answer|md }}</div>
</div>
{% empty %}
<p>There are no FAQs</p>
{% endfor %}
</div>

<p>
Please contact us if you have any questions.
</p>
{% endblock content %}
