{% extends "base.html" %}
{% load home_tags %}

{% block title %}ResearchCompendia FAQs{% endblock %}

{% block content %}

<div class="row">

<div class="col-lg-4">
  <ul class="nav">
  {% for faq in faq_list %}
    <li><a href="#{{ faq.id }}">{{ faq.question }}</a></li>
  {% endfor %}
  </ul>
</div>

<div class="col-lg-8">
  {% for faq in faq_list %}
  <div class="panel-group">
    <div class="panel-heading" id="{{ faq.id }}">
      <h3 class="panel-title"><i class="fa fa-question-circle"></i> {{ faq.question }}</h3>
    </div>
    <div class="panel-body">{{ faq.answer|md }}</div>
  </div>
  {% empty %}
    <p>There are no FAQs</p>
  {% endfor %}

  <p>Please contact us if you have any questions.</p>

</div>
</div> <!-- row -->
{% endblock content %}
