{% extends "base.html" %}
{% load home_tags %}

{% block title %}ResearchCompendia FAQs{% endblock %}

{% block content %}

<div class="row">
<div class="col-lg-8">
<div class="panel-group" id="accordion">
{% for faq in faq_list %}
<div class="panel" >
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ faq.id }}">
        <div class="fa fa-question-circle" id="iconstate"> {{ faq.question }}</div>
      </a>
    </h3>
    </div> <!-- /panel-heading -->
    <div id="{{ faq.id }}" class="panel-collapse collapse">
      <div class="panel-body">
        {{ faq.answer|md }}
      </div> <!-- /panel-body -->
    </div> <!-- /panel-collapse -->
  </div> <!--/panel-->
{% empty %}
<p>
Please contact us for more information.
</p>
{% endfor %}
</div>


</div>

</div> <!-- row -->
{% endblock content %}
