  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container header_gradient">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Rose Tyler</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="divider"></li>
            <li>
              <form class="navbar-search">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            </li>
            </li>
            <li class="divider"></li>
            <li><a href="/accounts/register">Register</a></li>
            <li class="divider"></li>
            <li><a href="#login">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/container header_gradient -->
    </div><!-- navbar-inner -->
  </div><!--navbar navbar-fixed-top -->
