*.py[cod]

*.swp

# heroku admin settings
.env
env

# sphinx
_build
docs/companionpages.*


# collectstatic
staticfiles

# virtualenv
venv
tyler

# Installer logs
pip-log.txt

#pycharm
.idea

# sqlite db
*.db
