<div class="panel panel-default">
  <div class="panel-heading">
    <a href="{{ obj.get_absolute_url }}">
        {{ obj.title }}
    </a>
  </div>

  <div class="panel-body">
    {% if obj.collaborators %}
    <p>{% for collaborator in obj.collaborators.all %}
       {{ collaborator }} {% if not forloop.last %}, {% endif %}
       {% endfor %}</p>
    {% endif %}
    <p>{{ obj.journal }}</p>
    <p>{{ obj.authors_text|truncatewords:100 }}</p>
    <p>{{ obj.code_data_abstract|truncatewords:100 }}</p>
    {% if obj.get_absolute_url %}
      <a class="btn btn-primary" href="{{ obj.get_absolute_url }}"><i class="fa fa-book"></i> Details</a>
    {% elif obj.pk %}
      <a class="btn btn-primary" href="{% url 'compendia:pk_detail' compendium.pk %}"><i class="fa fa-book"></i> Details</a></br>
    {% endif %}
  </div>
</div>
