{% load stringmethods %}
{% if article %}
<p>
{% if article.authors_text %}
	{% if article.authors_text|split|length < 4 %}
		{{ article.authors_text }}.
	{% else %}
		{% for name in article.authors_text|split:","|slice:":4" %}
        	{{ name }},
    	{% endfor %}
    	et al.
    {% endif %}
{% endif %}
{% if article.year %}{{ article.year }}.{% endif %}
{% if article.title %}"{{ article.title }}{% if entrylabel %} {{ entrylabel }}{% endif %}."{% endif %}
{% if article.journal %}<em>{{ article.journal }}</em>.{% endif %}
{% if article.volume %}{{ article.volume}}{% endif %}
{% if article.number %}({{ article.number }}){% endif %}
{% if article.pages %}{{ article.pages }}.{% endif %}&nbsp; &nbsp;
{% if article.doi %}<a href="http://dx.doi.org/{{ article.doi }}">doi:{{ article.doi }}</a>.{% endif %}
Retrieved {{ now|date:"SHORT_DATE_FORMAT" }} from <a href="{{ article.get_absolute_url }}">{{ domain }}{{ article.get_absolute_url }}</a></p>
{% if article.code_doi %}Code DOI: <a href="http://dx.doi.org/{{ article.code_doi }}">doi:{{ article.code_doi }}</a>.<p>{% endif %}
{% if article.data_doi %}Data DOI: <a href="http://dx.doi.org/{{ article.data_doi }}">doi:{{ article.code_doi }}</a>.<p>{% endif %}

</p>
{% endif %}
