{% extends "base.html" %}    
{% load i18n %}
{% load home_tags %}
{% load envelope_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Create A Compendium{% endblock %}

{% block content %}


{% crispy form %}


{% endblock %}

{% block extrajs %}

<script src="{% static 'js/jquery.cookie.js' %}"></script>

<script type="text/javascript">


$( "#doi_form" ).submit(function(event) {
  event.preventDefault();
  var doi_query = $(this).find("input").val();
  var csrftoken = $.cookie('csrftoken');
  $.ajax({
      type: "POST",
      url: "{% url 'doiref' %}",
      data: { doi: doi_query },
      headers: { "X-CSRFToken": csrftoken }
  })
  .done(function (msg ) {
      console.log(msg);
  });

});

</script>

{% endblock %}
