{% extends 'base.html' %}
{% load tz %}

{% block title %}ResearchCompendia Page{% endblock %}

{% block content %}

{% if object_list %}

<h2>Research Compendia</h2>

{{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ paginator.count }} results

<div class="container">
{% if page_obj.has_other_pages %}
<ul class="pagination" style="float:right">

{% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}">&laquo</a></li>
{% else %}
<li class="disabled"><a href="#">&laquo</a></li>
{% endif %}

{% for num in paginator.page_range %}
<li class="{% if page_obj.number == num %}active{% endif %}">
  <a href="?page={{num}}">{{ num }}</a>
</li>
{% endfor %}

{% if page_obj.has_next %}
<li><a href="?page={{ page_obj.next_page_number }}">&raquo</a></li>
{% else %}
<li class="disabled"><a href="#">&raquo</a></li>
{% endif %}
</ul>

{% endif %}
</div>

{% for obj in object_list %}

<div class="panel panel-default">

  <div class="panel-heading">
    <a href="{{ obj.get_absolute_url }}">
        {{ obj.title }}
    </a>
  </div>

  <div class="panel-body">
    <p>{% for collaborator in obj.collaborators.all %}
       {{ collaborator }} {% if not forloop.last %}, {% endif %}
       {% endfor %}</p>
    <p>{{ obj.journal }}</p>
    <p>{{ obj.authors_text|truncatewords:100 }}</p>
    <p>{{ obj.code_data_abstract|truncatewords:100 }}</p>

    <a class="btn btn-primary" href="{{ obj.get_absolute_url }}"><i class="fa fa-book"></i> Details</a>
    {% if obj.code_archive_file %}
    <a class="btn btn-primary" href="{{ static_url }}{{ obj.code_archive_file}}"><i class="fa fa-download"></i> Code</a>
    {% endif %}
    {% if obj.data_archive_file %}
    <a class="btn btn-primary" href="{{ static_url }}{{ obj.data_archive_file}}"><i class="fa fa-download"></i> Data</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{{ page_obj.start_index }} through {{ page_obj.end_index }} of {{ paginator.count }} results

{% if page_obj.has_other_pages %}
<ul class="pagination" style="float:right">

{% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}">&laquo</a></li>
{% else %}
<li class="disabled"><a href="#">&laquo</a></li>
{% endif %}

{% for num in paginator.page_range %}
<li class="{% if page_obj.number == num %}active{% endif %}">
  <a href="?page={{num}}">{{ num }}</a>
</li>
{% endfor %}

{% if page_obj.has_next %}
<li><a href="?page={{ page_obj.next_page_number }}">&raquo</a></li>
{% else %}
<li class="disabled"><a href="#">&raquo</a></li>
{% endif %}
</ul>
{% endif %}

{% endif %}

{% endblock content %}
