{% extends "base.html" %}    
{% load i18n %}
{% load home_tags %}
{% load envelope_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Create A Compendium{% endblock %}

{% block content %}

  <div class="container">
<div class="jumbotron">
    <h1>Placeholder Form</h1>

    <p>This is a place holder for this developer instance of the site in place
    here while the storage system is being worked on. The page with the work in
    progress for the form is <a class="btn btn-primary"
        href="http://researchcompendia.org/companionpagescreate/">create</a>

  </div>

<h1>Placeholder</h1>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form|crispy }}
<input class="button" type="submit" value="Save Paper Data"/>
</form>

</div>

{% endblock %}
