{% extends "base.html" %}

{% block content %}

<h2>{{ article.title }}</h2>

<h4>Collaborators</h4>
{% for collaborator in article.collaborators.all %}
  {{ collaborator }}
  {% if not forloop.last %}
  ,
  {% endif %}
{% endfor %}

<h2>Abstract</h2>

<p>{{ article.abstract }}

<p>
{% if article.article_url %}
<a href="{{ article.article_url }}">
  <i class="fa fa-external-link"></i> article
</a>
{% endif %}
</p>

<h2>Supporting Materials</h2>

{% for supportingmaterial in article.supportingmaterial_set.all %}


<h4>{{ supportingmaterial.name }}</h4>

{% if supportingmaterial.archive_file %}
  <a href="{{ static_url }}{{ supportingmaterial.archive_file }}">
      <div class="fa fa-file-o"></div>
  </a>
{% endif %}

  {{ supportingmaterial.explanatory_text }}

  {% if supportingmaterial.materials_url %}
    <a href="{{ supportingmaterial.materials_url }}"><div class="icon-external-link"> url</div></a>
  {% endif %}

{% endfor %}


<p>
</p>
{% if article.legacy_id %}
<a href="http://www.runshare.org/CompanionSite/site.do?siteId={{ article.legacy_id }}">old page</a>
{% endif %}
</p>


{% endblock content %}

