{% extends 'base.html' %}
{% load tz %}

{% block title %}ResearchCompendia Page{% endblock %}

{% block content %}

{% if companion_article_list %}

<h2>Research Compendia</h2>

<ul class="list-group">
  {% localtime on %}
  {% for site in companion_article_list %}

  <li class="list-group-item">
  <a class="btn btn-success" href="{% url 'rmc_companionpage' site.id %}"><i class="icon-terminal"></i></a>
  <em>{{ site.title }}</em>
  </li>

  {% endfor %}
  {% endlocaltime %}
</ul>

{% endif %}

{% endblock content %}
