{% extends "base.html" %}    
{% load staticfiles %}
{% block title %}Create A Compendium{% endblock %}
{% block content %}
<h1>Create A Compendium</h1>


<input type="file" id="files"  onchange="s3_upload();"/>
<p id="status">Please select a file</p>

<h2>Your information</h2>

<form method="POST" action="/submit_form/">
    <input type="hidden" id="avatar_url" name="avatar_url" value="/static/media/default.png" />
    <input type="text" name="username" placeholder="Username" /><br />
    
    <hr />
    <h2>Save</h2>

    <input type="submit" value="Update" />
</form>

<script type="text/javascript" src="/static/js/lodash.min.js"></script>
<script type="text/javascript" src="/static/js/s3upload.js"></script>

<script type="text/javascript">
function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: '#files',
        s3_sign_put_url: '/sign_s3/',
        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(public_url) { 
            $('#status').html('Upload completed. Uploaded to: '+ public_url);
            $("#avatar_url").val(public_url);
            $("#preview").html('<img src="'+public_url+'" style="width:300px;" />');
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}
</script>
</body>
</html>
