{% extends "base.html" %}
{% load gravatar %}

{% block title %}Edit RunMyCode Profile{% endblock %}

{% block content %}


{% gravatar_img_for_user profile.user %}
<p>Change your avatar image at <a href="http://gravatar.com/">Gravatar</a>.
Change your RunMyCode information using the form below</p>


{% if form.errors %}
<ul id="messagelist">
    <p>The following required fields are missing:</p>
    {% for error in form.errors %}
    <li class="error">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Edit profile for {{ user.first_name }} {{ user.last_name }} ({{user}})</h2>

<form enctype="multipart/form-data" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input class="button blue" type="submit" value="Update profile"/>
</form>

{% endblock content %}
