{% extends "base.html" %}
{% load gravatar %}

{% block title %}RunMyCode Members{% endblock %}

{% block content %}

<ul class="list-group">
{% for p in object_list  %}

<li class="list-group-item">
<div class="media">
  <p class="pull-left">{% gravatar_img_for_user p.user %}</p>
  <div class="media-body">
    <a href="{% url 'profiles_profile_detail' p.user %}">
      <h4 class="media-header">{{ p.public_name }}</h4>
    </a>
    {{ p.byline }}</br>
    {{ p.website|urlize }}
  </div>
</div>
</li>

{% endfor %}
</ul>

{% endblock content %}
