{% extends "base.html" %}
{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}

{% ifequal user profile.user  %}
<p>
<a href="{% url 'profiles_edit_profile' %}" class="button blue">Edit my profile</a>
<a href="{% url 'profile_settings' %}" class="button blue">Account settings</a>
</p>
{% endifequal %}

a demonstration that you can see attributes on a profile.

{% if profile.public_name %}
    {{ profile.public_name }} <br/>
{% endif %}

{% endblock content %}
