{% extends "base.html" %}
{% load gravatar %}
{% block title %} {{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}


<div class="media">
<p class="pull-left">{% gravatar_img_for_user profile.user %}</p>
<div class="media-body">
  <h4 class="media-heading">{{ profile.public_name }}</h4>
  <em>{{ profile.byline }}</em>
  <p>{{ profile.biography }}</p>
  <p>{{ profile.website|urlize }}</p>
</div>
</div>


{% ifequal user profile.user  %}
<p>
<a href="{% url 'rmc_edit' %}" class="button blue">Edit my profile</a>
</p>
{% endifequal %}


{% endblock content %}

