
body {
  /*! body padding needed with fixed navbar */
  padding-top: 70px;
 
  /* for fixed bottom navbar */
  /* padding-bottom: 70px; */
	/* background: url(../img/base_background.png) repeat-x; */
  /* 
  light lime green
  background-color: #a9d994;
  orange
  background-color: #f39104;
  logo letter green
  background-color: #70bf44;
#00cc00;
#269926;
#008500;
#39e639;
#67e667;

  background-color: #269926;

   */
}

.imagegradient {
	background: url(../img/background_greengradient.png) repeat-x;
}

.gradient {
  background: #415042; /* Old browsers */
  background: -moz-linear-gradient(top, #415042 34%, #2e3c2e 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#415042), color-stop(70%,#2e3c2e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #415042 34%,#2e3c2e 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #415042 34%,#2e3c2e 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #415042 34%,#2e3c2e 70%); /* IE10+ */
  background: linear-gradient(to bottom, #415042 34%,#2e3c2e 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415042', endColorstr='#2e3c2e',GradientType=0 ); /* IE6-9 */
}

.rmc-light {
  background-color: #F4F4F4;
}

.rmc-green-font {
  color: #00a005;
}

.rmc-navbar-header {
  margin-bottom: 50px;
  /* min-height: 70px;*/
  padding-left: 0px;
  padding-right: 0px;
}
.rmc-navbar-footer {
  margin-top: 50px;
  margin-bottom: 0px;
}