/*
 * if we get some refactoring time, consider using lesscss
 */

body {
  /*! body padding needed with fixed navbar */
  padding-top: 70px;

  /* for fixed bottom navbar */
  padding-bottom: 50px;
}

.rc-navbar-brand {
  font-size: 14px;
}

.rc-navbar-top {
  margin-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.rc-navbar-bottom {
}

.rc-jumbotron {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  font-size: 18px;
}
.rc-jumbotron h1 {
  font-size: 42px;
}
