{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Search ResearchCompendia Pages{% endblock %}

{% block content %}

<form method="get" action=".">

  {{ form|crispy }}

{% if query %}

  <h3>Results</h3>

    {% if page.has_previous or page.has_next %}
    <p>{{ page.start_index }} through {{ page.end_index }} of {{ paginator.count }} results</p>
      <div>
        {% if page.has_previous %}
        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}
        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
    {% else %}
    <p>{{ paginator.count }} results</p>
    {% endif %}


    {% for result in page.object_list %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
        </div>
        <div class="panel-body">
          <p>{{ result.object.journal }}</p>
          <p>{{ result.object.authors_text|truncatewords:100 }}</p>
          <p>{{ result.object.code_data_abstract|truncatewords:100 }}</p>

          <a class="btn btn-primary" href="{{ result.object.get_absolute_url }}"><i class="fa fa-book"></i> Details</a>
        </div> <!-- panel body -->
      </div> <!-- panel -->

    {% empty %}
      <p>No results found.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
      <div>
        {% if page.has_previous %}
        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}
        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
    {% endif %}

{% endif %} <!-- if query -->

</form>

{% endblock %}
