{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}Research Compendia User/{{ object.id }}{% endblock %}

{% block content %}
<div class="container">

  <ul class="nav nav-tabs" id="usertabs">
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    {% if object.contributor_set.all or object.article_set.all %}
    <li><a href="#usercompendia" data-toggle="tab">Compendia</a></li>
    {% endif %}
    {% if object == request.user %}
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
    {% endif %}
  </ul>


  <div class="tab-content">
 
    <div class="tab-pane active" id="profile">
      {% if object.public_name %}<h2>{{ object.public_name }}</h2>{% endif %}
      <div class="media">
        <div class="media_object">{% avatar object %}</div>
        <div class="media-body">
          <h4 class="media-heading">{{ object.affiliation }}</h4>
          {{ object.biography }}
        </div>
      </div> <!-- media -->
    </div> <!-- profile -->

   <div class="tab-pane" id="usercompendia">
      <div class="list-group">
      {% for contributor in object.contributor_set.all %}</li>
      {% if forloop.first %}<h3>Contributor</h3>{% endif %}
        <a class="list-group-item" href="{% url 'compendia:detail' contributor.article.id %}">
          <i class="fa fa-book"></i> {{ contributor.article.title }}
        </a>
      {% endfor %}
      </div> <!-- list group -->
      <div class="list-group">
      {% for article in object.article_set.all %}</li>
        {% if forloop.first %}<h3>Site Owner</h3>{% endif %}
        <a class="list-group-item" href="{% url 'compendia:detail' article.id %}">
            <i class="fa fa-book"></i> {{ article.title }}
        </a>
      {% endfor %}
      </div> <!-- list group -->
    </div> <!-- usercompendia -->

    {% if object == request.user %}
    <div class="tab-pane" id="settings">
      <div class="list-group">
      <ul>
        <a class="list-group-item" href="{% url 'users:update' %}"><i class="fa fa-info-circle"></i> My Info</a>
        <a class="list-group-item" href="{% url 'account_change_password' %}"><i class="fa fa-key"></i> Password</a>
        <a class="list-group-item" href="{% url 'account_email' %}"><i class="fa fa-envelope"></i> E-Mail</a>
        <a class="list-group-item" href="{% url 'avatar_change' %}"><i class="fa fa-smile-o"></i> Avatar</a>
      </ul>
      </div> <!-- list group -->
    </div> <!-- settings -->
    {% endif %}

  </div> <!-- tab-content -->
</div>

{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
  $( "#usertabs a" ).click(function(e) {
    e.preventDefault();
    $(this).tab('show');
    $(this).addClass('active');
    $(this.relatedTarget).removeClass('active');
  })
</script>
{% endblock %}
