{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}Research Compendia User/{{ object.id }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.public_name }}</h2>
      <div class="media">
        <div class="media_object">{% avatar object %}</div>
        <div class="media-body">
          <h4 class="media-heading">{{ object.affiliation }}</h4>
          {{ object.biography }}
        </div>
      </div>

    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->     
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">Avatar</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
